<div class="container">
  <div class="row">
    <div class="col-xs-12">
     <app-server (serverAdded)="onServerAdded($event)"></app-server>
     <ul class="list-group">
        <a
          class="list-group-item"
          [ngClass]="{'bg-color': servers.length > 4}"
          *ngFor="let server of servers"
        ><strong>{{server.name}}:</strong> {{server.content}} </a>
     </ul>
    </div>
  </div>
</div>

<hr>

<app-numbers></app-numbers>

<hr>

<p heighLightDirective>Style me with basic directive </p>
<p appBetterHighlight defaultColor="pink" >Style me with a better directive </p>


<hr>